html {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 1.4em;
}

#app {
    width: 90%;
    margin: 10px auto 0 auto;
}

form label {
    font-size: 0.9em;
    font-weight: bold;
}

.input-screen-name {
    border: solid 1px #ccc;
    padding: 5px;
    margin: 5px 0 20px;
    font-size: 1.3em;
    width: 300px;
    border-radius: 3px;
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}

.error {
    background-color: lavenderblush;
    border: solid 1px pink;
    border-radius: 3px;
    padding: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container div {
    position: relative;
    width: 140px;
    height: 75px;
    padding-top: 5px;
    margin-bottom: 10px;
    border-bottom: solid 2px lightgray;
    text-align: center;
}

.flex-container div img {
    width: 48px;
    height: 48px;
}

.flex-container div p {
    margin: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-container div a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-container div a:hover {
    background-color: lightblue;
    opacity: 0.5;
}

.fade-enter-active, .fade-leave-active {
    transition: all .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0
}
